html, body {
  height: 100%; }

#mainWrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  min-height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ad3d3+0,86f9a9+100 */
  background: #2ad3d3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2ad3d3 0%, #86f9a9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2ad3d3 0%, #86f9a9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2ad3d3 0%, #86f9a9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ad3d3', endColorstr='#86f9a9',GradientType=1 );
  /* IE6-9 */ }

.container {
  flex: 1 100%;
  font-family: "Source Sans Pro"; }

* {
  font-family: "Source Sans Pro"; }

h1, h2 {
  text-align: center;
  /*color:#fff;*/ }

h1, h4 {
  font-family: 'Julius Sans One'; }

h2 {
  font-size: 1em;
  margin: 1em;
  color: #555; }

h3 {
  font-size: 1.8em;
  font-weight: 300; }

.row {
  width: 100%;
  margin: 0; }

#searchWrapper {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  padding: 1em; }

#searchWrapper div {
  width: 60%;
  margin: 0 auto; }

#searchWrapper input, #searchWrapper select, #searchWrapper button {
  width: 100%;
  height: 50px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #1da4a4;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

#searchWrapper button {
  margin: 1.2em 0;
  background-color: transparent;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2em;
  color: #000;
  width: 300px;
  height: auto;
  transition: all linear 0.5s; }
  #searchWrapper button:hover, #searchWrapper button:focus, #searchWrapper button:active {
    background-color: rgba(0, 0, 0, 0.1); }

.resultCard {
  background-color: #fff;
  width: 90%;
  margin: 2em auto;
  padding: 2em;
  font-size: 1.2em;
  display: -webkit-flex;
  display: flex;
  opacity: 1; }

.leftSide {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em; }

.placePhoto {
  cursor: pointer; }

.rightSide {
  width: 70%;
  text-align: center; }

.divider {
  width: 200px;
  height: 1px;
  background-color: #000;
  margin: 1em auto; }

.smallButton {
  border: 1px solid #1da4a4;
  height: 2em;
  color: #1da4a4;
  width: 150px;
  display: block;
  line-height: 2em;
  text-decoration: none;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.8em; }
  .smallButton:hover, .smallButton:active, .smallButton:focus {
    background-color: #72C3C7;
    color: #fff;
    text-decoration: none; }

.ng-hide-add {
  opacity: 0;
  transition: all linear 0.5s; }

/* when showing the picture */
.ng-hide-remove {
  opacity: 1;
  transition: all linear 0.5s; }

.ng-enter {
  animation: 2s appear; }

.ng-leave {
  animation: 1s disappear; }

@keyframes appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes disappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.resultsWrapper {
  transition: all linear 0.5s;
  opacity: 1; }

@media (max-width: 1200px) {
  #searchWrapper div {
    width: 80%; }

  h3 {
    font-size: 1.4em; } }
@media (max-width: 850px) {
  #searchWrapper div {
    width: 100%; }

  .leftSide {
    width: 40%; }

  .rightSide {
    width: 60%; } }
@media (max-width: 650px) {
  h1 {
    font-size: 2em; }

  #searchWrapper {
    width: 100%;
    padding: 0 1em; }

  .resultCard {
    flex-direction: column;
    padding: 1em;
    margin: 1em auto; }

  .leftSide, .rightSide {
    width: 100%; }

  .leftSide {
    padding: 0 0 1em;
    justify-content: center; }

  #searchWrapper button {
    width: 100%; } }

/*# sourceMappingURL=screen.css.map */
