<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Mukta+Vaani:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Include the AngularJS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-animate.min.js"></script>
  </head>
  <body ng-app="RestaurantApp">
    <div id="mainWrapper" ng-controller="MainController">

        <div class="row">
            <h1>Pick a place</h1>
            <div class="divider"></div>
            <h2>Make the following selections and you'll get 7 top suggestions to go</h2>
        </div>

        <!--=============Enter criteria==============-->
         <div class="row">
            <div id="searchWrapper">
                <div>
                    <h3>Enter location where you want to go</h3>
                    <input type="text" ng-model="selectedLocation" placeholder="Enter city, zip code or area" />
                </div>

                <div>
                    <h3>Enter query what you are looking for, for example, bar, restaurant, ice cream, sushi</h3>
                    <input type="text" ng-model="selectedQuery" placeholder="Bar, restaurant, sushi, ice cream" />
                </div>

               <div>
                    <h3>Select price range</h3>
                    <select class="form-control" ng-model="selectedPrice" ng-init="selectedPrice=priceRanges[1]" ng-options="priceRange as priceRange.symbol for priceRange in priceRanges">
                     </select>
                </div>
                <div class="text-center">
                    <button ng-click="getData()">Search</button>
                </div>
            </div>
        </div> 

        <!--=============No results==============-->
        <div class="row">
            <div class="noResults resultsWrapper" data-ng-show="placesCount == 0">
                <div class="resultCard">
                    <h4>No Places found Near by ({{selectedLocation}})</h4>
                </div>
            </div>
         </div>

        <!--=============Displaying results==============-->
        <div class="row">
            <div class="resultsWrapper" data-ng-show="placesCount > 0">

                <div class="resultCard" data-ng-repeat="place in places">
                    <div class="leftSide">
                        <a href="{{place.venue.url}}" target="_blank"><img data-ng-src="{{buildVenueThumbnail(place.venue.photos.groups[0])}}" class="placePhoto" /></a>
                    </div>
                    <div class="rightSide">
                      <h4>{{place.venue.name}}</h4>
                      <div class="divider"></div>
                      <p data-ng-repeat="category in place.venue.categories">Category: {{category.name}}</p>
                      <p>Address: {{place.venue.location.formattedAddress[0]}}, {{place.venue.location.formattedAddress[1]}}</p>
                      <p>Rating: {{place.venue.rating}}</p>
                      <a class="smallButton" data-ng-show="!isEmptyObject({{place.venue.menu}})" target="_blank" href={{place.venue.menu.url}}>View Menu</a> 
                     </div>

                </div>   
            </div>
        </div> 


    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>


    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Services -->
    <script src="js/services/restaurant.js"></script>
    <script src="js/services/location.js"></script>


  </body>
</html>