<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js"></script>
    <script src="bower_components/ngGeolocation/ngGeolocation.min.js"></script>

  </head>
  <body ng-app="RestaurantApp">

    <div class="main" ng-controller="MainController">
      <div class="container">
        <div class="row">

        <div id="searchWrapper">

           <input type="text" ng-model="selectedLocation" placeholder="Enter city, zip code or area" />

           <input type="text" ng-model="selectedQuery" placeholder="Bar, restaurant, sushi, ice cream" />

          <!--  <select ng-model="selectedType" ng-init="selectedType=venueTypes[0]" ng-options="venueType as venueType.type for venueType in venueTypes">
              <option value="">Select Type</option>
           </select> -->

           <select ng-model="selectedPrice" ng-init="selectedPrice=priceRanges[1]" ng-options="priceRange as priceRange.symbol for priceRange in priceRanges">
              <option value="">Select Price</option>
           </select>

           <button ng-click="getData()">Search</button>

         </div>


         <!--=============No results==============-->
          <div class="" data-ng-show="placesCount == 0">
            <h5>No Places found Near by ({{selectedLocation}})</h5>
         </div>

         <!--=============Displaying results==============-->
          <div class="" data-ng-show="placesCount > 0">
           
              <div data-ng-repeat="place in places">
                  <h3>{{place.venue.name}}</h3>
                  <p data-ng-repeat="category in place.venue.categories">Category: {{category.name}}</p>
                  <p>Address: {{place.venue.location.formattedAddress[0]}}, {{place.venue.location.formattedAddress[1]}}</p>
                  <p>Rating: {{place.venue.rating}}</p>
                  <p><a data-ng-show="!isEmptyObject({{place.venue.menu}})"  href={{place.venue.menu.url}}>View Menu</a></p>
                  <a href="{{place.venue.url}}" target="_blank">{{place.venue.url}}</a>
              </div>
           
          </div>

        </div>
        </ul>
      </div>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>


    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Services -->
  <script src="js/services/restaurant.js"></script>
  <script src="js/services/location.js"></script>
    <!-- Directives -->




  </body>
</html>